@import url('https://fonts.googleapis.com/css2?family=Playwrite+RO:wght@100..400&family=Quicksand:wght@300..700&family=Sekuya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Playwrite+RO:wght@100..400&family=Quicksand:wght@300..700&family=Sekuya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0a0808;
}

.logoNavbar{
height: auto;
width: 50px;
}

.navbar a {
  color: white !important;
  opacity: 1 !important;
  visibility: visible !important;
  display: inline-block !important;
  text-decoration: none;
}


.navbar.mi-navbar {
  background-color: black !important;
  color: white !important;
  width: 100%;
  font-family: "Oswald", monospace;
  font-size: larger;
}

.navbar.mi-navbar .navbar-brand {
  color: white !important;
}

.navbar.mi-navbar .nav-link {
  color: #ffffff;
}


.navbar.mi-navbar .nav-link.active,
.navbar.mi-navbar .nav-link:hover {
  color: #c6d4ff;
}

.introduccion {
    /*background-image:url(/Portada1.png) ;*/
     background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
}

.introduccion-img{
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height:80%;
}

.entrenamiento {
  margin-top: -50%;
  background-color: #0a0808;
  color: rgb(255, 255, 255);
  padding: 5%;
  height: auto;
  width: 100%;
}

.entrenamiento h1 {
  font-family: "Oswald", monospace;
}


.tabla-grafico {
  text-align: left;
  margin-top: 8%;
  background-color: #0a0808;
  color: rgb(107, 55, 133);
  font-size: xx-large;
  height: auto;
  width: auto;
}

.ul-entrenamiento {
  padding-left: 0;
  margin-top: 5%;
}

.li-entrenamiento{
  color: whitesmoke;
  font-family: 'Oswald', monospace;
  font-size:2rem;
  margin-bottom: 5%;
  list-style-type: disc;
  margin-left: 20px;
}

.li-entrenamiento span {
  color: rgba(253, 253, 253, 0.658) !important;
}

.btn-wsp {
  position: fixed;
  right: 20px;   /* 👈 esto lo pega a la derecha */
  bottom: 20px;  /* opcional: lo baja al fondo */
  background-color: #25D366;
  border-color: #25D366;
  margin-top: 5%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto-btn {
  font-size: medium;
  font-family: "Oswald", monospace;
  background: none;
}

.spariumLogo{
  display: block;
  margin: 0 auto;
  margin-top: 20%;
  width: 80%;
  max-width: 400px;
  height: auto;
}